<?xml version="1.0"?>
<launch>
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find quad)/map_quad/my_map.yaml" output="screen" />
  <include file="$(find jackal_navigation)/launch/include/amcl.launch">
  </include>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find quad)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find quad)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find quad)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find quad)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find quad)/config/base_local_planner_params.yaml" command="load" />
    </node>
</launch>
